.container2 {

    background: #9e4770;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
  }
  
 h1{
   align-self: center;
 }
  p{
    font-size: 2rem;
  }

  .listContainer{
    width: 10vw;
  }